# Private notes
_notes/private/
_notes/template/
_notes/daily/
_notes/vault/
_notes/research/
_notes/architecture/



# Generated website directory
_site/

# Sass cache
.sass-cache/

# Jekyll cache & metadata
.jekyll-cache/
.jekyll-metadata

# Notes graph metadata
_includes/notes_graph.json

# Obsidian config
.obsidian/
